<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light d-flex justify-content-between align-items-center">
            <!-- <div class=""> -->
                <div>
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                </div>
                <div>
                <ul class="navbar-nav list-group-horizontal d-flex align-items-center">
                    <li class="nav-item"> 
                        <a class="nav-link p-3" href="https://raekwill15-8000.theiadockernext-0-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3" href="https://raekwill15-8000.theiadockernext-0-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/contact">Contact us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        Welcome {{user.username}}
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'djangoapp:logout' %}"><button class="btn btn-light p-2 mb-1 ml-2">Logout</button></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <form class="" action="{% url 'djangoapp:login' %}" method="post">
                            <input class="mt-1" type="text" placeholder="Username" name="username"/>
                            <input class="" type="password" placeholder="Password" name="psw"/>
                            <button type="submit" class="btn btn-primary p-2 mb-1">Sign In</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'djangoapp:signup' %}"><button class="btn btn-light p-2 mb-1 ml-2">Sign Up</button> </a>
                    </li>
                    {% endif %}
                </ul>
                <!-- </div> -->
            </div>
        </nav>
    <h1>
        Welcome to Best Cars dealership. This will be the contact page
    </h1>
    </body>
</html>